.app {
    display: flex;
    min-height: 100vh;
    background: var(--background);
}

.content {
    flex: 1;
    margin-left: var(--sidebar-width);

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: var(--background);
}

main {
    flex: 1;
    padding: 32px;
}